numpy==1.26.4
pandas==1.5.3
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
crewai==0.95.0
crewai-tools==0.25.8
langchain==0.3.14
langchain-anthropic==0.3.1
langchain-cohere==0.3.4
langchain-community==0.3.14
langchain-core==0.3.29
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
firecrawl-py==1.8.0
groq==0.13.1
pandasai==2.4.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
scikit-learn==1.6.0
scipy==1.15.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
markdownify==0.14.1